name: Update README with Coding Metrics

on:
  # Triggers the workflow on push events to the "main" branch
  push:
    branches:
      - main

  # Allows you to run this workflow manually from the Actions tab or on a schedule
  workflow_dispatch:
  schedule:
    # Runs at 00:00 AM UTC
    - cron: '0 0 * * *'

jobs:
  update-readme:
    name: Update README
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Update README with Coding Metrics
        uses: anmol098/waka-readme-stats@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          SHOW_PROJECTS: "false"
          SHOW_LINES_OF_CODE: "true"
          SHOW_LOC_CHART: "false"
          LOCALE: "en"
